@charset "utf-8";

@import "bulma/sass/utilities/initial-variables.sass";

$primary: $grey;
$link: $grey;
$card-radius: 1rem;

@import "bulma/bulma.sass";

.has-hover-zoom {
    transition: transform .2s;
}

.has-hover-zoom:hover {
    transform: scale(1.02);
}

.column .card {
    display: flex;
    flex-direction: column;
}

.column .card-footer {
    margin-top: auto;
}

.is-full-height {
    height: 100%;
}

.is-full-width {
    width: 100%;
}